<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Mon Compte</h2>
            <form [formGroup]="laptopForm" (ngSubmit)="onUpdateClient()">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" formControlName="nom">
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" formControlName="prenom">
                </div>
                <div class="form-group">
                    <label for="telephone">Télephone</label>
                    <input type="number" class="form-control" id="telephone" formControlName="telephone">
                </div>
                <div class="form-group">
                    <label for="rue">Rue</label>
                    <input type="text" class="form-control" id="rue" formControlName="rue">
                </div>
                <div class="form-group">
                    <label for="nomRue">Nom de la rue</label>
                    <input type="text" class="form-control" id="nomRue" formControlName="nomRue">
                </div>
                <div class="form-group">
                    <label for="codePostal">Code Postal</label>
                    <input type="number" class="form-control" id="codePostal" formControlName="codePostal">
                </div>
                <div class="form-group">
                    <label for="ville">Ville</label>
                    <input type="text" class="form-control" id="ville" formControlName="ville">
                </div>
                <div class="form-group">
                    <label for="complement">Complément</label>
                    <input type="text" class="form-control" id="complement" formControlName="complement">
                </div>
                <button class="btn btn-success" type="submit">Enregistrer</button>
            </form>
        </div>
    </div>


