<nav class="navbar navbar-default navbar-dark bg-dark">
    <div class="container-fluid">   
        <img src="./../../images/logo.png">
        <form class="form-inline">
            <input class="form-control mr-sm-4" type="search" placeholder="Rechercher un produit" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Rechercher</button>
          </form>
          <ul class="nav">
            <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signup">Créer un compte</a>
            </li>
            <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
                <a class="nav-link" routerLink="auth/signin">Connexion</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="user/myAccount" *ngIf="isAuth" style="cursor: pointer;">Mon compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer;">Déconnexion</a>
            </li>
        </ul>
    </div>
</nav>