<nav class="navbar navbar-default navbar-dark" style="background-color: #116466; padding: 0">
    <div class="container-fluid" style="padding: 0">
      <img routerLinkActive="active" routerLink="/home"
             src="assets/images/logo2.png"  style="width: 10%; margin: 0;cursor: pointer;">
      <div class="wrap">
        <div class="search">
          <input type="text" class="searchTerm" placeholder="Rechercher votre ordinateur" style="height: 36px">
          <button type="submit" class="searchButton" routerLink="produits/listProduits">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
          <ul class="nav" style="padding-right: 4%">
            <li class="nav-item">
              <button (click)="panier()" class="nav-link navbar-link-2 waves-effect"
                      style="color: #FFCB9A; background-color: transparent; border: none">
                <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size: 30px"></i>
                <span class="badge badge-pill">{{totaltPanier()}}</span>
              </button>
            </li>
            <li class="nav-item" *ngIf="!isAuth">
              <button routerLink="auth/signin" class="nav-link navbar-link-2 waves-effect"
                      style="color: #FFCB9A; background-color: transparent; border: none">
                <i class="fa fa-user" aria-hidden="true" style="font-size: 30px"></i>
              </button>
            </li>
            <li class="nav-item" *ngIf="isAuth">
              <button (click)="onSignOut()" class="nav-link navbar-link-2 waves-effect"
                      style="color: #FFCB9A; background-color: transparent; border: #FFCB9A solid">

                <i class="" aria-hidden="true" style="font-size: 20px">{{this.client.nom.substring(0, 1)}}</i>
              </button>
            </li>
        </ul>
    </div>
</nav>
