<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer">
    <div class="row bg-dark pt-3 pb-3">
        <div class="col-4 text-center">
            <a routerLinkActive="active" routerLink="auth/signup" class="text-white">Qui-sommes nous?</a>
        </div> 
        <div class="col-4 text-center">
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>  
        <div class="col-4 text-center">
            <div style="display: inline-block; margin: auto;">
                <a routerLinkActive="active" routerLink="contact" class="text-white">Nous Contacter</a>
                 <br>
                <a class="btn btn-social-icon btn-twitter" href="https://www.twitter.com">
                <span class="fa fa-twitter"></span>
                </a>
               <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                <span class="fa fa-facebook"></span>
               </a>
               <button type="button" class="btn btn-email"><i class="fa fa-envelope"></i> </button>
           </div>
        </div>      
    </div>
</footer>

