<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="bg-dark">
        <div style="width: 50%;" class="mx-auto pb-5 pt-3">
            <a routerLinkActive="active" routerLink="auth/signup" class="mr-5 text-white">Qui-sommes nous?</a>
            <a href="#" class="btn btn-primary ml-5 mr-5">Go somewhere</a>
              <div style="display: inline-block;" class="ml-5">
                 <a routerLinkActive="active" routerLink="contact" class="text-white">Nous Contacter</a>
                  <br>
                 <a class="btn btn-social-icon btn-twitter" href="https://www.twitter.com">
                 <span class="fa fa-twitter"></span>
                 </a>
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                 <span class="fa fa-facebook"></span>
                </a>
                <button type="button" class="btn btn-email"><i class="fa fa-envelope pr-1"></i></button>
            </div>
        </div>
    </div>