#filtre {
  border-style: outset;
}

h5 {
  font-weight: bold;
}

label{
  margin-left: 5px;
}

input[type=checkbox] {
  margin-top: 5px;
}

input[type=number] {
  width: 80px;
  height: 30px;
  margin-left: 20px;
}

.list {
  margin-left: 75px;
}
