<div class="container-fluid text-center mb-5">
    <h1>
    Nos Produits Phares
    </h1>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="assets/images/acer.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Le nouveau ACER</h3>
          <p> Un Pc de compétition pour jouer </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="assets/images/alienware.jpg">
        </div>
        <div class="carousel-caption">
          <h3>Alienware</h3>
          <p> Un pc portable à toute épreuve</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img src="assets/images/nvidia.jpg">
        </div>
        <div class="carousel-caption">
          <h3>NVIDIA</h3>
          <p>La nouvelle carte graphique surpuissante</p>
        </div>
      </ng-template>
    </ngb-carousel>
</div>